extends _base.pug
block header
  h1= __('home')
block main
  include _include/mixins.pug
  - page.posts.each(post => {
    article
      h1
        a(href=url_for(post.path))= post.title
      +meta(post)
      if post.excerpt
        +hljs_fix(post.excerpt)
        a(href=url_for(post.path) + "#more")= __('read_on')
      else
        +hljs_fix(post.content)
        if site.data.mono.comment
          a(href=url_for(post.path) + "#comment")= __('go_to_comment')
  - })
  if page.total > 1
    nav#paginator
      != paginator({prev_text: __('prev_page'), next_text: __('next_page')})
