:root {
  --theme-color-h: 0;
  --theme-color-s: 4%;
  --font-family:
    'Noto Sans', 'Open Sans', 'Droid Sans', 'Segoe UI', Verdana,
    'Noto Sans CJK SC', 'Source Han Sans', 'PingFang SC', 'Microsoft Yahei', sans-serif;
  --mono-font-family:
    'Noto Sans Mono', 'Droid Sans Mono', 'Segoe UI Mono', Menlo,
    'Noto Sans CJK SC', 'Source Han Sans', 'PingFang SC', 'Microsoft Yahei', monospace;
  --sidebar-width: 16rem;
  --color-0: hsl(var(--theme-color-h), var(--theme-color-s), 10%);
  --color-1: hsl(var(--theme-color-h), var(--theme-color-s), 20%);
  --color-2: hsl(var(--theme-color-h), var(--theme-color-s), 40%);
  --color-3: hsl(var(--theme-color-h), var(--theme-color-s), 80%);
  --color-4: hsl(var(--theme-color-h), var(--theme-color-s), 98%);
}

aside {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-1);
  color: var(--color-3);
}

@media screen and (max-width: 900px) {
  aside {
    position: static;
    width: 100vw;
    height: 11rem;
  }
}

#avatar {
  height: 20vh;
  background-color: var(--color-0);
  text-align: center;
}

@media screen and (max-width: 900px) {
  #avatar {
    height: calc(var(--sidebar-width) / 6);
  }
}

#avatar img {
  width: calc(var(--sidebar-width) / 3);
  height: calc(var(--sidebar-width) / 3);
  position: relative;
  top: calc(20vh - calc(var(--sidebar-width) / 6));
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  #avatar img {
    top: 0;
  }
}

#aside-main {
  position: relative;
  top: calc(var(--sidebar-width) / 6);
  text-align: right;
}

#aside-main > * {
  margin: 0.5rem;
}

@media screen and (max-width: 900px) {
  #aside-main > * {
    margin: 0 0.5rem;
    text-align: center;
  }

  #aside-main h1 {
    font-size: large;
  }
}

@media screen and (min-width: 901px) {
  #aside-main p {
    margin-left: 25%;
  }
}

@media screen and (max-width: 900px) {
  #aside-main nav {
    margin-top: 1em;
  }
}

#aside-main nav a {
  display: block;
  margin: 1px 0;
  border-right: 3px solid transparent;
  padding-right: 3px;
  font-size: 16pt;
  text-decoration: none;
  color: var(--color-3);
}

@media screen and (max-width: 900px) {
  #aside-main nav a {
    display: inline;
    margin: 0 0.25em;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 0;
    font-size: medium;
  }
}

#aside-main nav a:hover {
  border-right: 3px solid var(--color-4);
  color: var(--color-4);
}

@media screen and (max-width: 900px) {
  #aside-main nav a:hover {
    border: none;
    border-bottom: 1px solid var(--color-4);
  }
}

#social-links {
  position: absolute;
  bottom: 0;
  width: var(--sidebar-width);
  text-align: right;
  font-size: xx-large;
}

@media screen and (max-width: 900px) {
  #social-links {
    top: calc(var(--sidebar-width) / 6);
    bottom: unset;
    width: 100vw;
    font-size: large;
  }
}

#social-links a {
  margin: 0 6pt;
  color: var(--color-3);
}

@media screen and (max-width: 900px) {
  #social-links a {
    margin: 0 2.5pt;
  }
}

#social-links a:hover {
  color: var(--color-4);
}

main {
  margin-left: var(--sidebar-width);
  padding: 5vw 12vw;
}

@media screen and (max-width: 900px) {
  main {
    margin-left: 0;
    padding: 5vw 6vw;
  }
}

header > h1 {
  font-size: 2.5em;
  color: var(--color-2);
}

article {
  margin-bottom: 5vw;
}

article > h1 {
  color: var(--color-0);
}

.meta, #footer-info {
  color: var(--color-2);
  font-size: smaller;
}

.meta > hr {
  display: inline;
  margin: 0 2pt;
  border-width: 1px;
}

.tag, nav#paginator > * {
  margin: 0 2pt;
}

#footer-info {
  margin-top: 5vw;
  text-align: center;
}

.toc::before {
  font-weight: bold;
  font-size: 15pt;
}

.toc {
  font-size: smaller;
}

.toc, .toc ol {
  padding-left: 1.5em;
  list-style-type: none;
}

body {
  background-color: var(--color-4);
  color: var(--color-0);
  line-height: normal;
  font-family: var(--font-family);
  font-feature-settings: "calt" 1;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 90%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.67em 0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 19pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 17pt;
}

h5 {
  font-size: 16pt;
}

h6 {
  font-size: 15pt;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--color-1);
}

hr {
  margin: 2em 0;
  border-width: 2px;
  border-color: var(--color-3);
  border-style: solid;
}

li > p:first-child {
  margin-top: 0;
}

li > p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--color-2);
  text-decoration-style: dashed;
}

a:hover {
  color: var(--color-1);
  text-decoration-style: solid;
}

span {
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  ol, ul {
    padding-left: 1.5em;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: var(--color-1) solid;
  padding-left: 1em;
}

code, pre {
  font-family: var(--mono-font-family);
}

.highlight {
  overflow-x: auto;
  line-height: 1.3em;
  padding: 0 0.5em;
}

.highlight td {
  padding: 0 0.5em;
}

.highlight tr {
  border: none;
}

@media screen and (max-width: 900px) {
  blockquote, figure {
    margin: unset;
  }
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 3px solid var(--color-3);
  text-align: auto;
}

tr {
  border-bottom: 1px solid var(--color-3);
}

th, td {
  padding: 6px;
  text-align: left;
}
