meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title
  if page.title
    = page.title + ' | '
  = config.title
if site.data.mono.icon
  link(rel="shortcut icon" href=site.data.mono.icon type="image/x-icon")
if site.data.mono.katex
  != css(site.data.mono.katex)
!= css('/css/style')
