meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title
  if page.title
    = page.title + ' | '
  = config.title
if site.data.mono.icon
  link(rel="shortcut icon" href=site.data.mono.icon type="image/x-icon")
!= css('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min')
if site.data.mono.social_links
  != css('https://use.fontawesome.com/releases/v5.6.3/css/all')
!= css('/css/style')
style .toc::before { content: "#{__('toc_title')}"; }
!= css('/css/custom')
if site.data.mono.katex
  != js('https://cdn.jsdelivr.net/npm/katex/dist/katex.min')
  != js('https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min')
  != css('https://cdn.jsdelivr.net/npm/katex/dist/katex.min')
  -
    const scriptCode = `
      document.addEventListener("DOMContentLoaded", () => {
        renderMathInElement(document.body, {
          throwOnError: false,
          delimiters: [
            { left: '\$\$', right: '\$\$', display: true },
            { left: '\$', right: '\$', display: false }
          ]
        })
      })
    `
  script!= scriptCode
