mixin hljs_fix(content)
  -
    const escapeRegExp = str => {
      return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1")
    }
    const fixed = content.replace(
      new RegExp(escapeRegExp(`<figure class="highlight`), 'g'),
      `<figure class="hljs highlight`)
  != fixed

mixin meta(post)
  .meta
    time(datetime=post.date.format("YYYY-MM-DD"))
      = date(post.date)
    hr
    - post.tags.each(tag => {
      a.tag(href=url_for(tag.path))= "#" + tag.name
    - })
